@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900|Roboto");

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

html {
  position: relative;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #111111;
  overscroll-behavior: none;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

figcaption p {
  font-size: 0.75rem;
  font-weight: 600;
}

.main {
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

.foreverfox {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 50px;
}

.foreverfox h2 {
  font-size: 4rem;
  line-height: 0.25;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

#foreverfox p {
  width: 100%;
}

.basic {
  text-align: right;
  padding: 12px 0 0 0;
  margin: 0;
}

.header {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}


.main-page, .about-page {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main-page {
  background-image: url(img/bg-main-mobile.png);
}

.about-page {
  background-image: url(img/bg-about-mobile.png);
}

@media screen and (min-width: 1200px) {
  .main-page {
    background-image: url(img/bg-fox.png);
  }

  .about-page {
    background-image: url(img/bg-about.png); 
  }

}

.main-image {
  padding-top: 135px;
}

@media screen and (min-width: 768px) {
  .main-image {
    padding-top: 0;
  }
}

.mobile-header {
  height: 50px;
  position: absolute;
  top: 8px;
  left:50%;
  transform: translateX(-50%);
}

.mobile-header img {
  width: 40px;
}

#aboutSM {
  padding: 0;
  margin: 0;
  text-align: left;
}

#aboutGit {
  margin: 0;
  padding-left: 0;
}

.uppercase {
  text-transform: uppercase;
  font-size: 0.85rem;
}

.footer, .footer-special {  
  width: 100%;
  height: 32px;
  margin: 0 auto;
  padding: 0 100px;
  font-size: 12px; 
  color: #dcdcdc;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
}

.footer p, .footer-special p {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .footer, .footer-special {
    text-align: right;
  }
}

/* Navigation */
.navigation {
  position: absolute;
  width: 100%;
  height: 100px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.navigation-left {
  padding-left: 200px;
}

.navigation-left a {
  text-decoration: none;
  text-transform: uppercase;
  color: #71df6c;
  font-size: 0.85rem;
  font-weight: 900;
  letter-spacing: 0.5px;
  display: inline;
  padding-right: 2rem;
  transition: all .2s;
  font-family: "Source Sans Pro", sans-serif;
}

.navigation-left a:hover {
  color: #6cd8df;
}

.logo {
  position: absolute;
  top: 0;
  left: 50px;
  /* left: 50%;
  transform: translateX(-50%);
  padding: 1rem; */
  width: 125px;
  margin: 0;
  padding-top: 1rem;
}

.logo img {
  max-width: 100%;
}

.navigation-right {
  display: flex;
  align-items: center;
  margin: 0;
}

.social-media {
  list-style-type: none;
}

.social-media li {
  display: inline-block;
  padding: 0.5rem;  
  font-size: 1.2rem;
}

.social-media li a {
  color: #877d78;
}

.social-media li a:hover , .project-content a:hover, #projectsNav a:hover, .about-content a:hover {
  color: #6cd8df;
}

.project-list {
  list-style-type: none;
  padding: 0;
}

.project-list li {
  font-size: 14px;
  text-align: left;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.project-detail {
  width: 60%;
  float: right;
  text-align: right;
}

.project-detail, .project-preview {
  padding: 0 1rem;
  margin: 0;
}

.project-preview {
  width: 300px;
  height: auto;
  padding-bottom: 1rem;
  box-shadow: 1px 1px 6px 1px #dcdcdc;
  margin: 1rem;
}

.project-preview img {
  max-width: 100%;
}

@media screen and (min-width: 640px) {
  .project-preview {
    width: 400px;
  }
}

@media screen and (min-width: 1680px) {
  .project-preview {
    width: 640px;
  }
}

@media screen and (min-width: 1920px) {
  .project-preview {
    width: 1200px;
  }
}

/* Mobile Nav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#mobileNav {
  display: block;
  z-index: 100000;
}

#main {
  transition: margin-left .5s;
  padding: 10px;
  display: block;
  width: 100%;
}

.mainbar {
  position: fixed;
  background-color: white;
  height: 50px;
  z-index: 11000;
}

#projectsNav {
  position: fixed;
  z-index: 9999;
} 

@media screen and (max-height: 1023px) {
  #projectsNav {
    position: relative;
  }
}

#projectsNav p {
  width: 100%;
}

#projectsNavWrapper {
  width: 100%;
  height: 125px;
  position: fixed;
  z-index: 9999;
  background-color: white;
  display: block;
}

@media screen and (max-width: 1023px) {
  #projectsNavWrapper {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 767px) {
  #mainNav {
    display: none;
  }

  .project-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #mobileNav, #main {
    display: none;
  } 

  .project-list {
    display: block;
  }

  #mainNav {
    display: flex;
  }
}

.project-section, .main-page, .about-page {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

.about-content img {
  padding: 0.5rem;
}

@media screen and (min-width: 768px){
  .project-section, .main-page, .about-page {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row; 
    padding-top: 200px;   
  }
}

.about-content p, .project-content p {
  width: 80%;
  padding: 1rem 0;
}

.project-content, .about-content {
  position: relative;
  width: 100%;
  margin: 0; 
  padding: 0 50px;
}

.project-content h2, .project-content p, .about-content h2, .about-content p {
  text-align: left;
}

.project-content a, .about-content a, .project-detail a, .totop a {
  color: #71df6c;
}

.project-content li a {
  color: black;
}

.project-content a:hover, .project-detail a:hover, .totop a:hover {
  color: #6cd8df;
}


@media screen and (min-width: 768px) {
  .project-content {
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .about-content {
    width: 40%;  
  }
}

@media screen and (min-width: 1024px) {
  .project-content {
    width: 25%;
  }  
}



.about-content img {
  max-width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

.section-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.75rem;
  font-weight: 300;
  line-height: 1.1;  
  color: black;
}

.project-type {
  text-transform: uppercase;
  font-size: 18px;
  color: #6a6760;
  text-align: left;
}

.fixed-info {
  position: fixed;
}

.origami, #portrait {
  width: 320px;
}

.projects-gallery {
  position: relative;
  display: flex;
}

.flex {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.illustrations {
  margin: auto;
  border: 1px solid green;
}

@media screen and (min-width: 1024px) {
  .origami, #portrait {
    width: 480px;
  }
}

@media screen and (min-width: 1366px) {
  .origami {
    width: 768px;
  }
}

.gallery-wrapper, .about-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .gallery-wrapper {
    width: 50%;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 1024px){
  .gallery-wrapper {
    width: 80%;
  }

  .about-wrapper {
    width: 66%;
  }
}

.gallery-items {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 0.5rem;
  box-shadow: 1px 1px 6px 1px #dcdcdc; 
}

.gallery-images {
  display: block;
}

.gallery-images img {
  max-width: 100%;
}

.gallery-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #9556a1;
}

.gallery-items:hover .gallery-overlay {
  opacity: 1;
}

.gallery-items-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (min-width: 1680px) {
  .gallery-items {
    width: 320px;
    height: 320px;
  }   
}

#paper-1 {
  background-image: url(img/paper-1.png);
  background-repeat: no-repeat;
}

#paper-2 {
  background-image: url(img/paper-2.png);
  background-repeat: no-repeat;
}

#heading {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  font-weight: 200;  
  color: #52504b;
  letter-spacing: 4px;
}


@media screen and (min-width: 300px) {
  .preview {
    width: 320px;
    height: auto;
  }

  #aboutSM li {
  font-size: 1.25rem;
  padding-top: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .preview {
    width: 400px; 
    position: absolute;
    right: 10%;      
  }

  #heading {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  #aboutSM li {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  }
}

@media screen and (min-width: 1366px) {
  .preview {
    position: absolute;    
    width: 512px;
  } 

  #heading {
    font-size: 60px;
  }
}

@media screen and (min-width: 1620px) {
  .preview {
    position: absolute;  
    width: 600px;
  } 
}

.preview img {
  max-width: 100%;
}

@media only screen and (max-width: 767px) {
  .navigation-right {
    width: 160px;
    margin-top: 150px;
  }

  .logo {
    width: 100px;
    margin: 0;
  }  
}
